
.icon-params:before { content: '\e800'; } /* '' */
.icon-database:before { content: '\e801'; } /* '' */
.icon-cog-outline:before { content: '\e802'; } /* '' */
.icon-chart-outline:before { content: '\e803'; } /* '' */
.icon-chart-pie:before { content: '\e804'; } /* '' */
.icon-arrows-cw:before { content: '\e805'; } /* '' */
.icon-leaf:before { content: '\e806'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
